.clients-container {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;

}

.clients-table {
    width: 1210px;
    height: 460px;
    cursor: pointer;
    overflow-x: hidden;
    position: absolute;
    top: 130px;
    left: 300px;
    border-radius: 8px;
}

.input {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 100px;
    left: 300px;
    z-index: 77;
    background-color: white;

    .from {
        display: flex;
        align-items: center;
        gap: 32rem;

        input {
            width: 320px;
            height: 38px;
            border-radius: 6px;
            border: 1px solid #CBD0DD;
            color: #8A94AD;
            padding: 10px;
            outline: none;
            transition: border-color 0.3s ease;
            position: relative;
            top: -20px;

            &:focus {
                border-color: #3874FF;
            }

            &::placeholder {
                color: #A0A0A0;
            }
        }

        select {
            padding: 8px 12px;
            border: 1px solid #ccc;
            color: #8A94AD;
            border-radius: 4px;
            font-size: 14px;
            width: 180px;
            position: relative;
            top: -20px;
            cursor: pointer;
        }
    }

    button {
        width: 156px;
        height: 38px;
        border-radius: 6px;
        border: none;
        background-color: #3874FF;
        color: white;
        cursor: pointer;
        position: relative;
        top: -30px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #2864D9;
        }
    }
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

thead {
    background-color: #f9f9f9;
    color: #666;
    font-weight: 500;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #f0f0f0;
}

th,
td {
    padding: 15px 10px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
    color: #333;
}

th {
    font-weight: 600;
}

.checkbox-column {
    width: 40px;
    cursor: pointer;
    text-align: center;
}

.name-column {
    width: 200px;
}

.license-column {
    color: #5c85d6;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.date-column {
    color: #999;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.client-avatar {
    width: 36px !important;
    height: 36px !important;
    border-radius: 50%;
    object-fit: cover;
}


tbody tr {
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #f9f9f9;
    }
}


.with-text {
    p {
        position: relative;
        top: 50px;

        span {
            color: #3874FF;
        }
    }

}


.client-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 44;
    position: relative;
    left: 500px;
    top: 25px;

    .pagination-btn {
        border: none;
        border-radius: 8px;
        padding: 8px 14px;
        font-size: 14px;
        cursor: pointer;

        &:hover {
            background-color: #e2e8f0;
            transform: scale(1.05);
        }

        &.active-page {
            background-color: #3874FF;
            color: white;
            font-weight: 600;
            box-shadow: 0 0 8px rgba(79, 70, 229, 0.5);
        }

        &.prev-btn,
        &.next-btn {
            font-weight: bold;
        }

        &:disabled {
            cursor: not-allowed;
        }
    }

}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 500px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
    animation: modalIn 0.3s ease-out;
}

.modal-content h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content button {
    display: flex;
    padding: 10px 20px;
    background-color: #3874FF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #2864D9;
}

button {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    color: #3874FF;
}

@keyframes modalIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-preview-container {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f0f0f0;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-preview-container:hover {
    opacity: 0.8;
}