.employees {
    font-family: Arial, sans-serif;

    .empyese {
        width: 1220px;
        height: 662px;
        position: absolute;
        top: 50px;
        right: 50px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: #fff;
        padding: 16px;
        border-radius: 12px;
    }

    .filters {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .new {
            display: flex;
            gap: 20px;

            input {
                width: 320px;
                height: 38px;
                flex: 1;
                position: relative;
                left: 250px;
                padding: 8px;
                border-radius: 4px;
                border: 1px solid #CBD0DD;
                font-size: 14px;
                color: #8A94AD;


                select {
                    height: 38px;
                    border-radius: 6px;
                    border: 1px solid #CBD0DD;
                    color: #8A94AD;
                    width: 200px;
                }
            }


        }
    }

    .employees-table {
        input[type="checkbox"] {
            width: 16px;
            height: 16px;
            cursor: pointer;
        }

        tr.selected {
            background-color: #e0f7fa;
        }
    }


    .table-wrapper {
        flex: 1;
        overflow-y: auto;
        border: 1px solid #e0e0e0;
        border-radius: 6px;
    }

    .employees-table {
        width: 100%;
        border-collapse: collapse;
        min-width: 800px;

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            vertical-align: middle;
        }

        th {
            background-color: #f4f4f4;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        td img.employee-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;

        button {
            padding: 8px 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: #f4f4f4;
            cursor: pointer;

            &.active {
                background-color: #4CAF50;
                color: white;
            }

            &:hover {
                background-color: #ddd;
            }
        }
    }
}