.footer {
    color: #1a1919;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 33;
    
    .footers {
        width: 1520px;
        height: 34px;
        border-top: 1px solid #CBD0DD;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        position: absolute;
        bottom: 0;

        .btn {
            display: flex;
            align-items: center;
            
            button {
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                background-color: white;
                border: none;
            }
        }

        .text {
            p {
                width: 567px;
                height: 24px;
                font-weight: 400;
                font-size: 16px;
                color: #31374A;
            }

            span {
                font-weight: 500;
                font-size: 23px;
                color: #3874FF;
            }
        }
    }
}