.LeftPages {
    width: 264px;
    height: 670px;
    border-right: 1px solid #CBD0DD;

    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .link {
            display: flex;
            flex-direction: column;
            gap: 15px;
            position: relative;
            top: 50px;

            link:active{
                color: blue;
            }

            a {
                text-decoration: none;

                &:active {
                    color: blue;
                }

                p {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color:#525B75; 
                    font-size: 16px;
                }
            }
        }
    }
}
